//------------------------------------*\
//  # Colors
//------------------------------------*/

$dark-green: rgb(80,118,110);
$primary-green: rgba(80,118,110,0.8);
$light-green: rgba(80,118,110,0.2);
$primary-brown: #4a2619;
$light-text: #f5f5f5;

//------------------------------------*\
//  # Typography
//------------------------------------*/

@font-face {
    font-family: dala;
    src: url(/fonts/DalaMoa/DalaMoa-Light.woff);
}

$heading-font: dala;
$body-font: 'Dosis', sans-serif !important;